*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/


# Package Files #
*.jar
*.war
*.ear

.idea/*
.idea/!codeStyleSettings.xml
*.iml

bazel-*

generated*/
generated*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

tmp/
tmp
lib/
lib
out/
out
target/
target
