a img.download {
    height: 1.4em;
    margin-top: 0;
    margin-left: .1em;
}

a.icon-home {
    font-size: 1.8em;
    margin-bottom: .1em;
}

/** Images */
img { max-width: 100%; vertical-align: middle; }

li.toctree-l1 a img {
    float: right;
}

li.toctree-l1 a {
    font-size: 1.1em;
}

/** Code formatting */
pre {
    border-radius: .5em;
    background-color: #eef;
    padding: .7em;
    overflow-x: auto;
    width: 100%;
}

pre code {
    padding: .5em 1em !important;
}

pre, code {
    white-space: pre !important;
}
